RewriteEngine On
RewriteBase /
RewriteRule ^api/(.*)$ api/index.php?/$1 [L]
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
